<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}//partial
        <p>{{errorMessage}}</p>//receive from app.js
    </div>
    
    {{>footer}}//partial
</body>

</html>